# Database connectivity and operations

In [5]:
import sqlite3
print(dir(sqlite3))

['Binary', 'Cache', 'Connection', 'Cursor', 'DataError', 'DatabaseError', 'Date', 'DateFromTicks', 'Error', 'IntegrityError', 'InterfaceError', 'InternalError', 'NotSupportedError', 'OperationalError', 'OptimizedUnicode', 'PARSE_COLNAMES', 'PARSE_DECLTYPES', 'PrepareProtocol', 'ProgrammingError', 'Row', 'SQLITE_ALTER_TABLE', 'SQLITE_ANALYZE', 'SQLITE_ATTACH', 'SQLITE_CREATE_INDEX', 'SQLITE_CREATE_TABLE', 'SQLITE_CREATE_TEMP_INDEX', 'SQLITE_CREATE_TEMP_TABLE', 'SQLITE_CREATE_TEMP_TRIGGER', 'SQLITE_CREATE_TEMP_VIEW', 'SQLITE_CREATE_TRIGGER', 'SQLITE_CREATE_VIEW', 'SQLITE_CREATE_VTABLE', 'SQLITE_DELETE', 'SQLITE_DENY', 'SQLITE_DETACH', 'SQLITE_DONE', 'SQLITE_DROP_INDEX', 'SQLITE_DROP_TABLE', 'SQLITE_DROP_TEMP_INDEX', 'SQLITE_DROP_TEMP_TABLE', 'SQLITE_DROP_TEMP_TRIGGER', 'SQLITE_DROP_TEMP_VIEW', 'SQLITE_DROP_TRIGGER', 'SQLITE_DROP_VIEW', 'SQLITE_DROP_VTABLE', 'SQLITE_FUNCTION', 'SQLITE_IGNORE', 'SQLITE_INSERT', 'SQLITE_OK', 'SQLITE_PRAGMA', 'SQLITE_READ', 'SQLITE_RECURSIVE', 'SQLITE_REINDEX', 'SQLITE_SAVEPOINT', 'SQLITE_SELECT', 'SQLITE_TRANSACTION', 'SQLITE_UPDATE', 'Statement', 'Time', 'TimeFromTicks', 'Timestamp', 'TimestampFromTicks', 'Warning', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', 'adapt', 'adapters', 'apilevel', 'collections', 'complete_statement', 'connect', 'converters', 'datetime', 'dbapi2', 'enable_callback_tracebacks', 'enable_shared_cache', 'paramstyle', 'register_adapter', 'register_converter', 'sqlite_version', 'sqlite_version_info', 'threadsafety', 'time', 'version', 'version_info']

In [2]:
import sqlite3
#connecting with the database. 
db = sqlite3.connect("my_database1.db")
# Drop table if it already exist using execute() method. 
db.execute("drop table if exists students") # Create table as per requirement
db.execute("create table students(id int, name text, score int)")
#inserting values inside the created table
db.execute("insert into students(id, name, score) values(101, 'John',99 )") 
db.execute("insert into students(id, name, score) values(102, 'Gary',90 )") 
db.execute("insert into students(id, name, score) values(103, 'James', 80 )") 
db.execute("insert into students(id, name, score) values(104, 'Cathy', 85 )") 
db.execute("insert into students(id, name, score) values(105, 'Kris',95 )")

In [3]:
db.commit()

In [21]:
results = db.execute("select * from students order by id")
print("To check the type of result set",type(results))
data_list=[] #takind data into list
for row in results:
    data_list.append(row)
print(data_list)
for id in data_list:
    print(id[0], id[1],id[2])
    
    
#taking data into dictionary
d={}
for id in data_list:
    d.update({id[0]:id[1]})
print(d)

To check the type of result set <class 'sqlite3.Cursor'>
[(101, 'John', 99), (102, 'Gary', 90), (103, 'James', 80), (104, 'Cathy', 85), (105, 'Kris', 95)]
101 John 99
102 Gary 90
103 James 80
104 Cathy 85
105 Kris 95
{101: 'John', 102: 'Gary', 103: 'James', 104: 'Cathy', 105: 'Kris'}

In [23]:
results = db.execute("select name from students order by id")
for name in results:
    print(name)

('John',)
('Gary',)
('James',)
('Cathy',)
('Kris',)

### In this similar fashion we can run several different types of queries and and hold results in diff structures
## provided by python like --->list,set,dictionary, tuple ,string....etc.