# List (a Mutable Data type)
unlike string it is mutable data type means it can be changed
can created like
l=["item1", "item2"]
it is somehow sequence in another languages

In [4]:
#example of creating list
l=['kunwar', 'bijnor','a','33','abc123']
print(l)

['kunwar', 'bijnor', 'a', '33', 'abc123']

In [5]:
#calculating length
len(l)

5

# Indexing and Slicing

In [6]:
#getting particular
print(l[0])

kunwar

In [13]:
#printing list with for 
count=0
for item in l:
    for i in item:
        print(i)
        count+=1
print (count)

k
u
n
w
a
r
b
i
j
n
o
r
a
3
3
a
b
c
1
2
3
21

In [17]:
#next of printing
for i in range(5):
    print(l[i])
#printing by length
for m in range(len(l)):
    print(l[m])

kunwar
bijnor
a
33
abc123
kunwar
bijnor
a
33
abc123

In [22]:
#Operation example -printing the odd positions item
for i in range(5):
    if i%2==0:
        continue
    print(l[i])
#printing of even position item
for z in range(len(l)):
    if z%2==1:
        continue
    else:
        print(l[z])

bijnor
33
kunwar
a
abc123

In [4]:
#list as a combination of any type of data type
tpl=('a',2)
str1='aman'
l=[tpl,str1,4,5,'bijnor','@']
print(l)

[('a', 2), 'aman', 4, 5, 'bijnor', '@']

In [24]:
#now rotate with for loop
for i in l:
    print(i)
    
#to print in a single line

for i in l:
    print(i, end=" ")
    
#end=" can put any character in between"

kunwar
bijnor
a
33
abc123
kunwar bijnor a 33 abc123

In [25]:
#slicing like string
print(l[1:])
print(l[3:])

['bijnor', 'a', '33', 'abc123']
['33', 'abc123']

In [26]:
#slicing like string
print(l)
print(l[:-1])

['kunwar', 'bijnor', 'a', '33', 'abc123']
['kunwar', 'bijnor', 'a', '33']

In [38]:
#slicing like string
print(l)
print(l[-1:-1])
print(l[1:-1])
print(l)

['kunwar', 'bijnor', 'a', '33', 'abc123']
[]
['bijnor', 'a', '33']
['kunwar', 'bijnor', 'a', '33', 'abc123']

In [39]:
print(l)

['kunwar', 'bijnor', 'a', '33', 'abc123']

In [45]:
#conactenate new item like string with '+'
l+['a']
print(l)

#or

['kunwar', 'bijnor', 'a', '33', 'abc123', 'a', 'a', 'a', 'a']

In [19]:
#multiply the list values as string
s='aman'
print(s*2)

#similar to list
print(l*2)

amanaman
[('a', 2), 'aman', 4, 5, 'bijnor', '@', 'a', ('a', 2), 'aman', 4, 5, 'bijnor', '@', 'a']

In [21]:
#doubling is not permanent
print(l)

[('a', 2), 'aman', 4, 5, 'bijnor', '@', 'a']

# Basic List Methods
list is simply as an array in another lang

In [46]:
#append list
l.append('new_value')
print(l)

['kunwar', 'bijnor', 'a', '33', 'abc123', 'a', 'a', 'a', 'a', 'new_value']

In [47]:
#if array than support of Stack operations
print(l.pop(0))

kunwar

In [48]:
#if array than support of Stack operations
print(len(l))
print(l)
#print(l.pop(0))

9
['bijnor', 'a', '33', 'abc123', 'a', 'a', 'a', 'a', 'new_value']

In [10]:
l="kunwar satya vira college of engineering and management"
l1=l.split()
l1.reverse()
print(l1)

['management', 'and', 'engineering', 'of', 'college', 'vira', 'satya', 'kunwar']

In [11]:
l2=[1,2,3]
master_lst=[l1,l2,1,2,3]
print(master_lst)

[['management', 'and', 'engineering', 'of', 'college', 'vira', 'satya', 'kunwar'], [1, 2, 3], 1, 2, 3]

In [16]:
for i in master_lst:
    #print(i)
    for item in i:
        print(item, end=" ")
    print("\n")

management and engineering of college vira satya kunwar

1 2 3

TypeError: 'int' object is not iterable

In [54]:
lst_1=[1,2,3]
lst_2=[4,5,7]
lst_3=[9,8,7]
mstr_lst=[lst_1,lst_2,lst_3,[4,3,2]]
print(mstr_lst)
for item in mstr_lst:
    for i in item:
        print(i)
        print("\n")
    print("\n")
#print(mstr_lst[0][0])

[[1, 2, 3], [4, 5, 7], [9, 8, 7], [4, 3, 2]]
1


2


3




4


5


7




9


8


7




4


3


2

In [72]:
#accessing columns in single line for loop
print(mstr_lst)
first_col=[row[0] for row in mstr_lst]
print(first_col)
for row in mstr_lst:
    print(row[1])

[[1, 2, 3], [4, 5, 7], [9, 8, 7], [4, 3, 2]]
[1, 4, 9, 4]
2
5
8
3

In [73]:
#count function- counting particular element in the list
first_col.count(4)

2

In [30]:
#append vs extend function
print(mstr_lst)
#append() is used to append single item or sub list of more than one item
#but extend is used to append more than one item at a time
mstr_lst.append(222)
#mstr_lst.append(333,444)
mstr_lst.append([333,444])
print(mstr_lst)

[[1, 2, 3], [4, 5, 7], [9, 8, 7], [4, 3, 2], 111, 111, 222, 222, 222, [333, 444]]
[[1, 2, 3], [4, 5, 7], [9, 8, 7], [4, 3, 2], 111, 111, 222, 222, 222, [333, 444], 222, [333, 444]]

In [76]:
#while extend
mstr_lst.extend([666,777])
print(mstr_lst)

[[1, 2, 3], [4, 5, 7], [9, 8, 7], [4, 3, 2], 666, 777, 666, 777, 666, 777]

In [77]:
#index function- to find the index of particular element
mstr_lst.index(666)

4

In [83]:
#insert function-to insert value on a particular index
mstr_lst.insert(0, 111)
print(mstr_lst)
mstr_lst[0]='aaa'
print (mstr_lst)

[111, 'aaa', 111, 111, 111, [1, 2, 3], [4, 5, 7], [9, 8, 7], [4, 3, 2], 666, 777, 666, 777, 666, 777]
['aaa', 'aaa', 111, 111, 111, [1, 2, 3], [4, 5, 7], [9, 8, 7], [4, 3, 2], 666, 777, 666, 777, 666, 777]

In [92]:
#pop function-it will popped the last element from list
mstr_lst.pop()
print(mstr_lst)

['aaa', 'aaa', 111, 111, 111, [1, 2, 3]]

In [95]:
#remove fun- to remove a particular element
mstr_lst.remove('aaa')
print(mstr_lst)

['aaa', 111, 111, 111, [1, 2, 3]]

In [97]:
#reverse
mstr_lst=[1,2,3,4]
mstr_lst.reverse()
print(mstr_lst)
mstr_lst.sort()
print(mstr_lst)

[4, 3, 2, 1]
[1, 2, 3, 4]