In [13]:
#Different Collections in the python
"""
Mutable
Lsit-----[]
Dist-----{}---->{key:value}unique key 
Set------set()---->unique values

Immutable
String
Tuple---()


"""

'\nMutable\nLsit-----[]\nDist-----{}---->{key:value}unique key \nSet------set()---->unique values\n\nImmutable\nString\nTulle---()\n'

# 1.Tuple, Functions

In [24]:
#Creating tuple
tpl=(1,2,3,4,5,5)
print(tpl)
for item in tpl:
    print(item)

#printing specific from the tpl
for item in tpl[:3]:
    print(item, end="")

(1, 2, 3, 4, 5, 5)
1
2
3
4
5
5
123

## Basic Tuple Methods
Basic built in methods

In [1]:
#index()
tpl=(1,2,3,4,5,5)
tpl.index(5) #will return thr index of first occurance of the 5

4

In [3]:
#count()
tpl.count(5)  #will return all occurance of the 5

2

## Immutability
.append() and new value assignment would not work here

In [9]:
tpl=(1,2,3,4,5,5)
#tpl[0]=8 # will not work due to immutability
#tpl.append(2) #will not work due to same


##BUT

tpl=tpl+(23,24) #it would work fine as we are rewriting or re-defining the same
print(tpl)

(1, 2, 3, 4, 5, 5, 23, 24)

## Reason of using Tuple if it is similar List
due to immutability ---means provide data integrity

# Set
unordered collection of Unique values and can be declared as set()

In [15]:
s=set()
s.add('a')
print(s)
s.add(1)
print(s)

## repeat addition
s.add(1)
print(s) #will provide the same result as ---we know not able to add duplicate value

{'a'}
{1, 'a'}
{1, 'a'}

In [18]:
#creating set from a list
l=[1,2,3,4,3,4,5,56,56,3]
s=set(l)
print(s) # return set of all unique elements buit from l

{1, 2, 3, 4, 5, 56}

## Dictionary

In [9]:
#create dictionary
d={1:'one',2:'two'}
print(d) #printing complete dictionary
d.values() #printing values only
#to print keys only
d.keys()

#accessing key and values with for loop
for item in d:
    print(item, d[item])
    
#accessing using items()-yhe key value pair
print(d.items())   # items() also convert dict to list in whic dictionary data will be in form of tuples


## we also can access using d[key]
print(d[1]) #will return the value associated with key 1

{1: 'one', 2: 'two'}
1 ONE
2 TWO
dict_items([(1, 'one'), (2, 'two')])
one

In [5]:
#flexibility of dictionary ---over data types of vales it holds
d={'one':123, "two":[1,2,3], 'three':(1,2,3)} #only key must be unique but values can hold duplicate as well as any type of data
print(d)
#for loop
for item in d:
    print(item, d[item])
    
#aacessing particular
d['three'][2]

{'one': 123, 'two': [1, 2, 3], 'three': (1, 2, 3)}
one 123
two [1, 2, 3]
three (1, 2, 3)

3

In [10]:
#some more functions- like upper()
d={'one':123, "two":[1,2,3], 'three':(1,2,3),'four':'aman'}
d['four'].upper()

'AMAN'

In [21]:
#some more operations over the keys and values
d={'one':123, "two":[1,2,3], 'three':(1,2,3),'four':'aman'}
print(d)
var=d['one']-110 #performing operations on the key also
var
#even
d['one']=var #reassigning the key
print(d)

# getting key separately using for loop
for key,value in d.items():
    print(key)

{'one': 123, 'two': [1, 2, 3], 'three': (1, 2, 3), 'four': 'aman'}
{'one': 13, 'two': [1, 2, 3], 'three': (1, 2, 3), 'four': 'aman'}
one
two
three
four

## Nesting the dictionaries

In [51]:
#creating dictionary inside dictionary
d1={22:'twotwo'}
print(d1)
l=[23,34,'nest']
d={"two" :[1,2,3], 'three':(1,2,3),'four':'aman', 'five':d1, 'six':l} #nesting
print(d)
 #iterating the nesting by for loop
for item in d.values():
    for i in item:
        print( item, end="")
    print('\n')

{22: 'twotwo'}
{'two': [1, 2, 3], 'three': (1, 2, 3), 'four': 'aman', 'five': {22: 'twotwo'}, 'six': [23, 34, 'nest']}
[1, 2, 3][1, 2, 3][1, 2, 3]

(1, 2, 3)(1, 2, 3)(1, 2, 3)

amanamanamanaman

{22: 'twotwo'}

[23, 34, 'nest'][23, 34, 'nest'][23, 34, 'nest']

In [44]:
#key(),values(), items()
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['two', 'three', 'four', 'five', 'six'])
dict_values([[1, 2, 3], (1, 2, 3), 'aman', {22: 'twotwo'}, [23, 34, 'nest']])
dict_items([('two', [1, 2, 3]), ('three', (1, 2, 3)), ('four', 'aman'), ('five', {22: 'twotwo'}), ('six', [23, 34, 'nest'])])

## Dictionary Comprehension

In [52]:
#creation with shorthand
print({item:item*3 for item in range(5)})
{item:item**3 for item in range(5)} #** means power calculation

{0: 0, 1: 3, 2: 6, 3: 9, 4: 12}

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64}

In [58]:
#more thing with nesting
d={'key':{'subkey':{'sub_subkey':value}}}
print(d)
#can access like
print(d['key'])#level 1
print(d['key']['subkey']) #level 2
print(d['key']['subkey']['sub_subkey']) #last level

{'key': {'subkey': {'sub_subkey': 'aman'}}}
{'subkey': {'sub_subkey': 'aman'}}
{'sub_subkey': 'aman'}
aman

# Functions in python
as similar in other language

## def statement

In [64]:
#def function_name(arg1,arg2,....):
    
'''
    def <fun_name>(arg list): is the general  defination of declaring fun
    '''
#NOTE: we have pass keyword in function or we can use it in any block of code for just to pass that without doing anything

#example
for i in range(10):
    pass     #for loop is there but doing nothing

In [68]:
#example of a simple add finction
a=3
b=10

def add_fun(x,y):
    c=x+y
    d=x*y
    
    
    return c,d
res1,res2=add_fun(a,b)
print(res1,res2)   # function call

13 30

In [73]:
#example of a simple add finction
a=3
b=10

def add_fun(x,y):
    c=x+y
    d=x*y
    if c<d:
        m=1
    if m==1:
        return c,d
res1,res2=add_fun(a,b)
print(res1,res2)   # function call

13 30

## Dynamic argumenting and returing of arguments
#in python function can have many no. of agrugent with out giving them seprately and return any no. of results unlike other lang which returens only one

In [74]:
#in python function can have many no. of agrugent with out giving them seprately and return any no. of results unlike other lang which returens only one

In [1]:
#exmaple 1
def fun_mul(*a):  #*a can take any no. of arguments
    mul=a[0]*a[1]*a[2]
    addition = a[0]+a[1]+a[2]+a[3]
    diff=a[0]-a[3]
    
    
    return mul,addition,diff   # returning more than one
result1,result2,d=fun_mul(1,2,3,4) # providing 4 arguments
print("Multiply is:",result1,"Addition is:",result2,d)

Multiply is: 6 Addition is: 10 -3

In [82]:
#exmaple 2
def fun_display(*a):  #*a can take any no. of arguments
    for i in a:
        print(i)

print("Function call with multiple arguments:" )
fun_display(1,2,3,4,5,6,)

Function call with multiple arguments:
1
2
3
4
5
6

In [84]:
#exmaple 3:passing list as argument
def fun_display(*a):  #*a can take any no. of arguments
    for i in a:
        print(i)
lst=[2,3,4,5,]
print("Function call with multiple arguments:" )
fun_display(lst)      #passing a list as argument

Function call with multiple arguments:
[2, 3, 4, 5]

In [91]:
#taking care of the returing results
#even python is so samrt--- but it is our duty to take care of the results that we wants to be looking for
#example

def if_bool(val):
    if val%2==1:
        return False
    else:
        return True
print(if_bool(3))  # returning true false for Even and odd  ----means the boolean result

# BUT
# if we call like this 

print(if_bool(3)+1)  #  will return the integer result-1

#again

print(if_bool(4)+23)    #will return 24

#hence it is our duty to be take care of the values while providing arguemnts and having back as result

#example 
def fun_add(v1,v2):
    return v1+v2

#call with integer data
print(fun_add(2,3))

#call with string
print(fun_add('aman ', 'hamrey')) #it dnt know the data type being easy - dynamic data type

False
1
24
5
aman hamrey

In [96]:
# checking prime no. using function

def is_prime(num):
    for n in range(2,num):
        if num%n==0:
            print('Not a prime no.')
            break            
        else:
            print('Prime No.')

#call
is_prime(17)
#but the complexity is O(n), we can do in better way

SyntaxError: invalid syntax (<ipython-input-96-a147c9584207>, line 13)

In [108]:
#Another way of calulating prime no.
import math
def is_prime1(num):
    if num%2==0 & num>2:
        return False
    else:
        for n in range(3, int(math.sqrt(num)+1),  ):  # will run it from 3 to sqrt(num)+1 with increment of 2
            if num%n==0:
                return False
        return True
#call
t=is_prime1(25)  #  
print(t)

#explanation of the program for call is_prime(25)
'''
trace of whole is_prime(25) body
 if 25%2==0 & 25>2  ----> Means even no. of greater than 2 cn't be prime
 else 
   for n in range(3,(5+1), 2)----> will run for 3,4,5 but will skip to 4 as we alredy checked it for even in line 2 so no need to check again
   
         
 
'''

False

"\ntrace of whole is_prime(25) body\n if 25%2==0 & 25>2  ----> Means even no. of greater than 2 cn't be prime\n else \n   for n in range(3,(5+1), 2)----> will run for 3,4,5 but will skip to 4 as we alredy checked it for even in line 2 so no need to check again\n   \n         \n \n"

# Iterators and Generators

In [120]:
#what if we want to generate cunes up to range(10)

#we can do simply like
'''By simple for loop'''
for i in range(10):
    print(i**3)   # in this case all the generated items(number cubes) will hold memories seperately

#generator function for generating the cubes of 3
print('By generator') 
def gen_cubes(n):
    for num in range(n):
        yield num**3    # but in case of generator  seperatly memory allocation will not got by generated cubes but on fly

#call this generator
for x in gen_cubes(10):
    print(x)
    
    
#genrator for a list item to get cubes of list items
l=[2,3,4]
def gen_cubes(a):
    for num in a:
        yield num**3

#call this generator
for x in gen_cubes(l):
    print(x)

0
1
8
27
64
125
216
343
512
729
By generator
0
1
8
27
64
125
216
343
512
729
8
27
64

In [131]:
#simple fibbonaci series

a=0
b=1
print(a)

for i in range(10):
    a,b=b,a+b
    print(a)    # all generated one taking memory
     
#Generation using list

a=0
b=1
out=[]
for i in range(10):
    out.append(a)
    a,b=b,a+b
print(out)

#generating Finonacci Series using generator
def gen_fibbo(n):
    a=0
    b=1
    for i in range(n):
        yield a     # not taking memory but in fly
        a,b=b,a+b
    
#call this generator
for i in gen_fibbo(10):
    print(i)

0
1
0 1
1 2
2 3
3 5
4 8
5 13
6 21
7 34
8 55
9 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
0
1
1
2
3
5
8
13
21
34

## Built in function of generator next() and iter()

In [157]:
# the generators cn't work like simple function
#as example
def simple_gen():
    for i in range(3):
        yield i
# try calling this generator

print(simple_gen())
#it will shopw the given below pointer and we have to grab generated value from this
#<generator object simple_gen at 0x0000000005019DE0>
g=simple_gen()  # also would not work
print(g)

<generator object simple_gen at 0x0000000005019DE0>
<generator object simple_gen at 0x0000000005019DE0>

In [153]:
#we can have generated values by next()
print(next(g))

0

In [160]:
print(next(g))

StopIteration:

In [159]:
#all we acn have using while
while(True):
    print(next(g))    
    
   # after having all values it would generate Stopiteration error

StopIteration:

## Iterator

In [163]:
#iter()
#example
s='hello'
next(s) # will show you the error as string not iterator

TypeError: 'str' object is not an iterator

In [165]:
#so we need to use iterator iter()
iter(s)  # will provide <str_iterator at 0x5295be0> we can take values from this

In [167]:
ch=iter(s)
#now we can use next() to iterator a string till end on each use 
next(ch)

'h'

# MAP--->map()
the whole purpose of creating map() is saving efforts of operating a operation over a sequence of inputs by loops

In [186]:
#takes two arguments map(function, sequence) 
#First Argu ---- a function name
# a sequence like list[]--- over which we want to apply the above function on all element of it

#let atke example
#if we want to convert fahrenhiet to celsius of given tempratures (.2, 4,34,50)
#we mannually

def to_temp(f_temp):
    c_temp=(float(9)/5)*f_temp+32
    return c_temp
#call above

res=to_temp(4) # means we need to call it every time for a series of Tempratures to convert fro fahrenhiet to Celsius
print(res)

39.2

In [192]:
#by using map() we can perfrom same function over a series of inputs
#like
l_Temp=[4,5,6,.2]   # tempratures in fahrenhiet to be converted to celsius
c_temp_list=map(to_temp, l_Temp)
print(c_temp_list) #which is a map object and can be converted to list---<map object at 0x00000000052B8470>
f_temps=list(c_temp_list)
print("Output in Celsius:",f_temps) # return all converted temp in celsius in form of list

<map object at 0x00000000052A6C88>
Output in Celsius: [39.2, 41.0, 42.8, 32.36]

In [196]:
#example 2: Convert back
#write basic function
def to_fahrenheit(c_temp):
    return (float(5)/9*(c_temp-32))

#use it with map over the above converted tempratures
print("In Celsius:",f_temps)
print(list(map(to_fahrenheit,f_temps)))

In Celsius: [39.2, 41.0, 42.8, 32.36]
[4.000000000000002, 5.0, 5.999999999999999, 0.1999999999999997]

# lambda function 
if dnt want to create a function body and want to use directly a expression operation over the series of inputs in single line by map

In [20]:
#as example  --- of above conversion
c_t=[4,3,5,6,7] #tempratures in celsius
f_t=list(map(lambda x: (9.0)/5*x+32, c_t))
print("Celsius to fahrenhiet:",f_t)

Celsius to fahrenhiet: [39.2, 37.4, 41.0, 42.8, 44.6]

In [25]:
#convert back
c_t=list(map(lambda x: (5.0)/9*(x-32), f_t))
print("Temprature in Celsius:",c_t)

Temprature in Celsius: [4.000000000000002, 2.9999999999999996, 5.0, 5.999999999999999, 7.000000000000001]

In [3]:
#onr more example of lambda function
a=[1,2,3,4,56]
b=[23,34,2,3,4]
c=[34,56,8]

l=list(map(lambda x,y,z:x+y+z, a,b,c))
print(l)

[58, 92, 13]

## reduce()
it is again used like map with lambda and takes function and series of elements and provide the single out based on operation performed

In [13]:
#example
from functools import reduce
a=[1,2,3,4,56]
b=[23,34,2,3,4]
l1=reduce(lambda x,y:x+y, b)
print(l1)

66

In [15]:
#another example of reduce to find max of a list even we have max() function
a=[1,2,3,4,56]
max_val=(lambda x,y: x if (x>y) else y) # seperate lambda function to find max of a series
reduce(max_val, a) #usage of reduce to use lambda function

56

## general format of lambda, map() and reduce()

## 1. lambda function
## (lambda argu list: operation on argu, list of elements)
## map(function name, list)
## reduce(function name, list)

# filter()
like above filter is also takes function name and list of elements --- provide True and False about those list of elements following the function or not

In [21]:
# if we want to filter how many are odd or even in a given list of int

def OE_check(a):
    if a%2==0:
        return True
    else:
        return False
#given list to check
l=[2,3,4,56,78,15,23,33,21,56,34]
l1=list(filter(OE_check, l))

print(l1)

[2, 4, 56, 78, 56, 34]

In [28]:
#with the help of lambda function we can also write it

OE_check1=lambda x: x%2 == 0

#applying filter

list1_even=list(filter(OE_check1, l))
print(list1_even)

[2, 4, 56, 78, 56, 34]

# To Do

## Question: Create dict and short according to key

In [61]:
#solution
d={'aman':123, 'ram':456, 'aa':3663}


for key in sorted(d.keys()):
    print("%s:%s" % (key, d[key]))
    
for i in d.items():
    print(i)

aa:3663
aman:123
ram:456
('aman', 123)
('ram', 456)
('aa', 3663)

## QUE: WAP to find a dict from a obejct field

In [51]:
#solution
#after class and object

## WAP to remove duplicates from dict

In [90]:
#solution
student_data = {'id1':
{'name': ['Sara'],
'class': ['V'],
'subject_integration': ['english, math, science']
},
'id2':
{'name': ['David'],
'class': ['V'],
'subject_integration': ['english, math, science']
},
'id3':
{'name': ['Sara'],
'class': ['V'],
'subject_integration': ['english, math, science']
},
'id4':
{'name': ['Surya'],
'class': ['V'],
'subject_integration': ['english, math, science']
},
}
'''#print(student_data)

#first let sort for the practice according to key

for key,values in student_data.items():
         #print(values)
         for v in values.items():
            #print(v)
            for item in v:
                print(item, end=" ")
         print("\n")
        '''

'#print(student_data)\n\n#first let sort for the practice according to key\n\nfor key,values in student_data.items():\n         #print(values)\n         for v in values.items():\n            #print(v)\n            for item in v:\n                print(item, end=" ")\n         print("\n")\n        '

In [129]:
#solution 1: mannual removal of dict entries using update methods
#solution
student_data = {'id1':
{'name': ['Sara'],
'class': ['V'],
'subject_integration': ['english, math, science']
},
'id2':
{'name': ['David'],
'class': ['V'],
'subject_integration': ['english, math, science']
},
'id3':
{'name': ['Sara'],
'class': ['V'],
'subject_integration': ['english, math, science']
},
'id4':
{'name': ['Surya'],
'class': ['V'],
'subject_integration': ['english, math, science']
},
}

d={}
for key,value in student_data.items():
        if value not in d.values():
            d.update({key: (value)})
           # d[key]=(value)
        
print("Dict with no dulicacy", d)

Dict with no dulicacy {'id1': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id2': {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id4': {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}}

In [1]:
#solution 2: mannual removal of dict entries based on names
#solution
student_data = {'id1':
{'name': ['Sara'],
'class': ['V'],
'subject_integration': ['english, math, science']
},
'id2':
{'name': ['David'],
'class': ['V'],
'subject_integration': ['english, math, science']
},
'id3':
{'name': ['Sara'],
'class': ['V'],
'subject_integration': ['english, math, science']
},
'id4':
{'name': ['Surya'],
'class': ['V'],
'subject_integration': ['english, math, science']
},
}
new={}
for k,v in student_data.items():
        if v not in new.values():
            new[k]=v
        
print("Dict with no dulicacy", new)

Dict with no dulicacy {'id1': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id2': {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id4': {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}}

## Questtion:WAP to combine two dictionary adding values for common keys

## counter()

In [73]:
#Example with list Using counter
from collections import Counter
l=[1,2,3,4,1,2,3]
print(Counter(l))   #hence counter just counts the occurance of items in any collection

#example with tuple
t=(1,1,2,2,2,2,2,3,'abc')
print(Counter(t))

#example with dict

d={'a1':1,'a2':2,'a3':67}
d1={'a1':3,'a2':4}
print(Counter(d)+Counter(d1)) # in case of dictionary(integer value) it will add the values of same key in both dict and produce one

#the mannual way of adding values of common key in dict for integer values

for key in d:
    if key in d1:
        d1[key]=d[key]+d1[key]
    else:
        d1.update({key: d[key]})
        
print(d1)

Counter({1: 2, 2: 2, 3: 2, 4: 1})
Counter({2: 5, 1: 2, 3: 1, 'abc': 1})
Counter({'a3': 67, 'a2': 6, 'a1': 4})
{'a1': 4, 'a2': 6, 'a3': 67}

## Combination if both dict contains string, int values for common and seperate keys

In [78]:
#combining two dict if values are of string kind in both dict
d11={'a1':'aman','a2':'two','a3':'three', 'a5':'five'}
d12={'a1':'choudhary','a2':'four', 'a5':'five', 'a4':"seven", 'a7':2345}
d13={}

def dict_combine1(d11,d12):
    for key in d11:
        if key in d12:
            if d11[key]==d12[key]:
                d13.update({key: d11[key]})
            
            else:
                d13.update({key: d11[key]+", "+d12[key]})   #if both having same key but different values
           
        else:
            d13.update({key: d11[key]})  # taking a extra entry if first dict contains some extra entry
            
    for k in d11:   # checking for --if extra keys reamin in first or second and not yet included to d13
        if k in d13:
            pass
        
    for k in d12:
        if k in d13:
            pass
        else:
            d13.update({k: d12[k]}) 
            
    return d13
    

print('Final Dict:\n',dict_combine1(d11,d12))  #final dict

Final Dict:
 {'a1': 'aman, choudhary', 'a2': 'two, four', 'a3': 'three', 'a5': 'five', 'a4': 'seven', 'a7': 2345}

## Question: write a program to print all unique values from a dictionary in a list

In [92]:
#Solution1 : mannual way 
d={'a1':'choudhary','a2':'four', 'a5':'five', 'a4':"seven", 'a7':2345, 'a8':'four'}
s=set()
print("The mannual way")
for key in d:
    m=d[key]
    s.add(m)
l=list(s)
print(l)    

#Solution 2: single line solution
print(" By single line for loop")
l1=list(set(value for value in d.values()))
print(l1)
type(l1)

The mannual way
['five', 2345, 'choudhary', 'four', 'seven']
 By single line for loop
['five', 2345, 'choudhary', 'four', 'seven']

list

d=[{'a1':'choudhary','a2':'four', 'a5':'five', 'a4':"seven", 'a7':2345, 'a8':'four'},]

In [99]:
d_list=[{'a1':'choudhary','a2':'four', 'a5':'five', 'a4':"seven", 'a7':2345, 'a8':'four'},{'z1':'value_z1'}]
l1=list(set(item for dic in d_list for item in dic.values()))
print(l1)

['five', 'value_z1', 2345, 'choudhary', 'four', 'seven']

## Creating a dictionary using two lists of same length ---one's value as key another value as value in dict

In [109]:
#Solution
l1=[1,2,3]
l2=['val1','val2','val3']
d={}
#mannual for loop method
for item in l1:
    for val in l2:
        d.update({item: val})
            
print("dict d:",d)


#solution 2: in a single line

d1={a:b for a in l1 for b in l2}
print("dict d1:",d1)


#using zip function
d3={a:b for a,b in zip(l1, l2)}
print("dict d3:",d3)

dict d: {1: 'val3', 2: 'val3', 3: 'val3'}
dict d1: {1: 'val3', 2: 'val3', 3: 'val3'}
dict d3: {1: 'val1', 2: 'val2', 3: 'val3'}