In [2]:
#single world
print('hello');
"I 'am aman here in banagalore"

hello

"I 'am aman here in banagalore"

In [3]:
#this is also a string and calculating length
str1="ok i am here"
l=len(str1)
print(l)
s=len('Hi i am not a 1string')
print (s)

12
21

In [5]:
#string as array and spliting it into list 
a='aman choudhary'
print(a[2])
#a[1]
string2=a[:3]
print(string2)
list=a.split()
print(list[1])
print(list[0])

a
ama
choudhary
aman

In [4]:
#spliting a string by special character
a='aman|choudhary|hamrey'
print(a[2])

list=a.split('|')
str1="@x@y@z@w"
print(str1.split('@'))
print(list)

a
['', 'x', 'y', 'z', 'w']
['aman', 'choudhary', 'hamrey']

In [5]:
#String with negative ranges -1
s1='xyzbasbhdgsag'
s1[-3]

's'

In [8]:
#String with negative ranges -2:
s1='aman hamrey'
print(s1[:5])
print(s1[3:-2])

aman
n hamr

In [9]:
#to be discuss
s1='aman'
print(s1[1::2])
print(s1[2:])

mn
an

In [37]:
# in python we have majorly such type like
#####Mutable####
#dict
#list
#array

######immutable#####

#tuple
#string

In [20]:
#try list first
L=[1,2,3,4,'a man','@','123']
print(L)
#print particular
print(L[2])

#Now change the first item of list
L[3]='abc'
print(L)

[1, 2, 3, 4, 'a man', '@', '123']
3
[1, 2, 3, 'abc', 'a man', '@', '123']

In [13]:
# Now check if String is Mutable or Immutable
s1="My name is Khan bjghghsx"
print(s1)
print(len(s1))

print(s1[3])
#chnage it with $
s1[3]='$'
print(s1)

My name is Khan bjghghsx
24
n

TypeError: 'str' object does not support item assignment

In [23]:
#But such operations like 
s1="my name is khan"
s1=s1+" Ahmed"
s2=" ok"
s1=s1+s2
print(s1)

my name is khan Ahmed ok

In [17]:
#example of tuple
##Note: Tuple always contains unique values and it is similar like set in another lang
##list and Array both are also same in Python
tpl=('abc','bcd')
print(tpl)
print(tpl[0])
tpl[0]='a'
print(tpl[0])

('abc', 'bcd')
abc

TypeError: 'tuple' object does not support item assignment

In [24]:
#to be discuss
#check immutability of tuple
tpl=('abc','bcd','abc')
print(tpl)
#print particular
print(tpl[0])

tpl[0]='mno'
print(tpl)

('abc', 'bcd', 'abc')
abc

TypeError: 'tuple' object does not support item assignment

In [9]:
#example Dict
dct=['abc','bcd']
print(dct)
print(dct[0])

['abc', 'bcd']
abc

In [10]:
#check mutability of dictionary
dct[0]='mno'
print(dct)

['mno', 'bcd']

In [26]:
#creating replica of String in python
s='Maan'
print(s*10)

MaanMaanMaanMaanMaanMaanMaanMaanMaanMaan

In [13]:
#creating replica of list in python
lst=[1,2,3]
print(lst*10)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [14]:
#creating replica of tuple in python
t=(1,2,3)
print(t*10)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [15]:
#creating replica of dict in python
d=['abc','234','asd']
print(d*10)

['abc', '234', 'asd', 'abc', '234', 'asd', 'abc', '234', 'asd', 'abc', '234', 'asd', 'abc', '234', 'asd', 'abc', '234', 'asd', 'abc', '234', 'asd', 'abc', '234', 'asd', 'abc', '234', 'asd', 'abc', '234', 'asd']

In [20]:
##Basic Built in Methods in Python for String
s='aman kumar hamrey'

#upper case
s.upper()

'AMAN KUMAR HAMREY'

In [21]:
#lower case
s.lower()

'aman kumar hamrey'

In [29]:
#split a string - it will return complete list of substring 
s='my name is speedhot'
s.split()

['my', 'name', 'is', 'speedhot']

In [23]:
#spliting from a special character
s='aman|kumar|hamrey'
s.split('|')

['aman', 'kumar', 'hamrey']

In [24]:
s='aman|kumar|hamrey'
s.split('a')

['', 'm', 'n|kum', 'r|h', 'mrey']

In [24]:
# print formatting using {} and % as printf() in C language
s='Kunwar Satya Vira College of Engineering and Management'
#similar like 'C alangiage' we have {} as formate specifier and .format method is used to insert new at that place
s=s+": {}".format('Excellency in Education')
print(s)
s=s+"%s value" % (3)
print(s)

Kunwar Satya Vira College of Engineering and Management: Excellency in Education
Kunwar Satya Vira College of Engineering and Management: Excellency in Education3 value

In [26]:
s="aman {}".format('kumar')
print(s)

# formation of the variable values
a=10
b=20
#s='a={1} and value of b={0}'.format(a,b)
#or using % operator like in C
s='%d and value of b=%d' % (a,b)
print(s)




##check how python works with string as far as storage is concerned
str1="aman"
str2='aman'
sid1=id(str1)
sid2=id(str2)
print("id of first string: {0} \n id of seconf string: {1}".format(sid1,sid2))

aman kumar
10 and value of b=20
id of first string: 88581992
 id of seconf string: 88581992

# Location and Counting

In [28]:
#counting the charater occurance
s='Kunwar Satya Vira College of Engineering and Management'
print(s.count('Co'))

1

In [33]:
#counting the charater occurance
s='Kunwar@ Satya Vira College of Engineering and Management'
print(s.count('Coll'))
l=s.split('@')
print(l[0])

1
Kunwar

In [38]:
#finding location of Occurance

s.find('Coll')
#alwyas return first occurance

18

In [44]:
#center() fills the padded characters on both side of a string
print(s)
print(len(s))
padded_s=s.center(66)
print(len(padded_s))
#with fillchar option
print(s.center(66, '*'))
#actual string length
len(s)

Kunwar@ Satya Vira College of Engineering and Management
56
66
*****Kunwar@ Satya Vira College of Engineering and Management*****

56

In [47]:
#expandtabs() method to expand a string bt \t
s='Kunwar\tSatya\tVira\tCollege of Engineering and Management'

s.expandtabs()

'Kunwar  Satya   Vira    College of Engineering and Management'

# is checking methods

In [25]:
#checking of alpha numeric
pwd='Aman123'

pwd.isalnum() #will return true is string is alpha-numeric

True

In [28]:
#checking of alphabetic only
pwd='Aman'

print(pwd.isalpha())#will return true is string is alphabetic

s='aman123'
print(s.isalpha())

True
False

In [32]:
#checking of lower case only
pwd='Aman123'

print(pwd.islower())#will return true is string is lowercase

s='aman123'
print(s.islower())

False
True

In [36]:
#checking of spaces only
pwd='Aman 123'

print(pwd.isspace())#will return true if all are white spaces

s='aman123'
print(s.isspace())

s=' '
print(s.isspace())

False
False
True

In [61]:
#isspace example with list
count=0
lst=['aman',' ','choudhary', '   ', 'hamrey']
for words in lst:
    if words.isspace():
        count=count+1;
        print('it is space')
     #continue
    else:
     print(words)
print(count)

IndentationError: unindent does not match any outer indentation level (<ipython-input-61-34d7e4abaff6>, line 8)

In [45]:
#isspace example with tuple
tpl=('a',' ','b', '   ', 'c')
for words in tpl:
    if words.isspace():
     continue
    else:
     print(words)

a
b
c

In [53]:
#ispace example
s='Kunwar Satya Vira College of Engineering and Management'
list_str=list(s)
print(list_str)
for letter in list_str:
    if letter.isspace is True:
        continue
    print(letter)
    #new_list=list.(letter)
#new_list

['K', 'u', 'n', 'w', 'a', 'r', ' ', 'S', 'a', 't', 'y', 'a', ' ', 'V', 'i', 'r', 'a', ' ', 'C', 'o', 'l', 'l', 'e', 'g', 'e', ' ', 'o', 'f', ' ', 'E', 'n', 'g', 'i', 'n', 'e', 'e', 'r', 'i', 'n', 'g', ' ', 'a', 'n', 'd', ' ', 'M', 'a', 'n', 'a', 'g', 'e', 'm', 'e', 'n', 't']
K
u
n
w
a
r

S
a
t
y
a

V
i
r
a

C
o
l
l
e
g
e

o
f

E
n
g
i
n
e
e
r
i
n
g

a
n
d

M
a
n
a
g
e
m
e
n
t

In [62]:
#istitle example, return ture if string is in title case
s='Kunwar Satya Vira College of Engineering and Management'
print(s.istitle())

s1='Aman kumar'
print(s1.istitle())
s1='Amankumar'
s1.istitle()

False
False

True

In [63]:
#isupper example, return ture if string is in upper case
s='Kunwar Satya Vira College of Engineering and Management'
print(s.isupper())

s1='AMAN'
print(s1.isupper())
s1='AMAN123'
s1.isupper()

False
True

True

In [73]:
#endswith, 
s='Kunwar Satya Vira College of Engineering and Management'
print(s.endswith('t'))
print(s.endswith('Management'))
print(s.endswith('r'))

Question='Kunwar Satya Vira College of Engineering and Management?'
Question.endswith('?')

True
True
False

True

# split() and partition() function as : Built in Reg Expression

In [74]:
s.split('e')

['Kunwar Satya Vira Coll', 'g', ' of Engin', '', 'ring and Manag', 'm', 'nt']

In [75]:
s.split('ll')

['Kunwar Satya Vira Co', 'ege of Engineering and Management']

In [76]:
#partition
s.partition('ll')

('Kunwar Satya Vira Co', 'll', 'ege of Engineering and Management')